
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
$bg-primary: #03060f;
$font-color: #bcbfc6;

section{
    background: $bg-primary;
    color: $font-color;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.about{
    img{
        width: 100%;
        height: 100%;
    }
}
// https://www.history.com/topics/inventions/nikola-tesla
// https://mdbootstrap.com/docs/standard/extended/timeline/

.row p{
    line-height: 2rem;
}